
.listContainer {

   width: 100%;
  
  
.buttons{


display: flex;
align-items: center;
justify-content: center;

    span {
      margin: 0 10px;
      border: none;
      font-weight: bold;
      font-size: 16px;
      cursor: pointer;

      &.buttonDelete{
        color: #ff3939;
      }
      &.buttonEdit{
        color: #6d57c0;
      }
    }
  }
  }